<div class="container mt-3 login-warp">
    <mat-card-title>Đăng Ký</mat-card-title>
    <form class="login-form d-flex flex-column mt-4" [formGroup]="userForm" *ngIf="!isLogin">
        <mat-form-field class="example-full-width">
            <mat-label>Họ và tên </mat-label>
            <input type="text" matInput placeholder="Ex. dang van a" formControlName="name">
            <!-- <mat-error *ngIf="userForm.get('name')?.hasError('required')">
                Họ không được để trống</mat-error> -->
            <mat-error *ngIf="userForm.controls.name?.errors?.['required']">
                Họ và tên không được để trống</mat-error>

        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Số điện thoại</mat-label>
            <input type="text" matInput placeholder="Ex. 0123456789" formControlName="sdt">
            <mat-error *ngIf="userForm.controls.sdt?.errors?.['required']">
                Số điện thoại không được để trống</mat-error>
            <mat-error *ngIf="userForm.controls.sdt?.errors?.['invalidPhoneNumberLength']">
                Số điện thoại phải chứa 10 ký tự
            </mat-error>
            <mat-error *ngIf="userForm.controls.sdt?.errors?.['invalidPhoneNumberFormat']">
                Số điện thoại phải là số
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Địa chỉ</mat-label>
            <input type="text" matInput placeholder="Ex. xóm A -Phường A -TPTN" formControlName="address">
            <mat-error *ngIf="userForm.controls.address?.errors?.['required']">
                Địa chỉ không được để trống</mat-error>
            <mat-error *ngIf="userForm.controls.address?.errors?.['maxlength']">
                Địa chỉ không được quá 50 ký tự</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
            <mat-error
                *ngIf="userForm.controls.email?.errors?.['email'] && !userForm.controls.email?.errors?.['required']">
                Nhập địa chỉ email hợp lệ</mat-error>
            <mat-error *ngIf="userForm.controls.email?.errors?.['required']">Email không được để trống</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Tên đăng nhập</mat-label>
            <input type="text" matInput placeholder="Ex. danga" formControlName="username">
            <mat-error *ngIf="userForm.controls.username?.errors?.['required']">
                Tên không được để trống</mat-error>
            <mat-error *ngIf="userForm.controls.invalidUsername?.errors?.['required']">
                Tên đăng nhập không chứa ký tự đặc biệt và có độ dài từ 3 đến 20 ký tự</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="{{ passwordHidden ? 'password' : 'text' }}" matInput placeholder="Ex. 12345657"
                formControlName="password">
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()"
                [attr.aria-label]="passwordHidden ? 'Show password' : 'Hide password'">
                <mat-icon>{{ passwordHidden ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            <mat-error *ngIf="userForm.controls.password?.errors?.['required']">Password không được để trống</mat-error>
            <mat-error *ngIf="userForm.controls.password?.errors?.['invalidPassword']">Mật khẩu phải có ít nhất 9
                ký tự đến 32 ký tự, chứa các ký tự đặc biệt và có ít nhất một chữ cái viết hoa.
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" class="mt-2" (click)="handleSubmit()">Đăng ký</button>
    </form>
    <div *ngIf="isLogin">
        <span>Đã đăng nhập thành công !!!</span>
        <a routerLink="" class="create-account">
            <mat-icon>arrow_right_alt</mat-icon>
            <span>Trở về trang chủ</span>
        </a>
    </div>
</div>