<div class="container mt-4 login-warp">
    <mat-card-title>Login</mat-card-title>
    <form class="login-form d-flex flex-column">

        <mat-form-field class="example-full-width">
            <mat-label>FistName</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com">
            <mat-error>Fist Name is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>LastName</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com">
            <mat-error>Last Name is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com">
            <mat-error>Please enter a valid email address</mat-error>
            <mat-error>Email is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="email" matInput placeholder="Ex. 123456789">
            <mat-error>Password is <strong>required</strong></mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="accent">Submit</button>
    </form>
</div>