/* .list-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.list-item>.mat-card {
    width: 33%;
    flex: 0 0 33%;
    margin: 5px;
} */
.search-hero {
    max-width: 700px;
    margin: auto 10px;
}



.form-control::placeholder {
    font-family: 'FontAwesome';
}